.add-container {
    display: flex;
    justify-content: flex-end;

    button {
        align-items: center;
        background-color: blue;
        border: none;
        border-radius: 2px;
        color: white;
        display: flex;
        gap: 5px;
        margin-left: 4px;
        padding: 5px 15px 5px 10px;
        transition: all 0.5s ease;

        &:hover {
            background-color: rgb(0, 0, 192);
            cursor: pointer;
        }
    }
}
