.breadcrumb {
    border-bottom: 1px solid whitesmoke;
    box-sizing: border-box;
    display: flex;
    height: 64px;
    list-style: none;
    margin: 0;
    padding: 0 50px;

    .breadcrumb-item {
        align-items: center;
        display: flex;
        font-weight: bold;
        height: 100%;

        a {
            text-decoration: none;
        }
    }
}
