<info title="{{ title }}" text="{{ text }}"></info>
<ul class="information-list">
    <li><b>Authors: </b>{{ authors }}</li>
    <li id="duration"><b>Duration: </b>{{ duration | formatdate }}</li>
    <li id="date"><b>Created: </b>{{ creationDate }}</li>
</ul>
<button common-button buttonText="Show course">Show course</button>
<ng-container *ngIf="isEditable">
    <button common-button buttonTextIconName="pen"></button>
    <button common-button buttonTextIconName="trash"></button>
</ng-container>
